.container {
    display: flex;
    gap: var(--spacers-dp4);
    align-items: center;
    cursor: pointer;
    background-color: var(--colors-white);
    border: 1px solid var(--colors-grey300);
    border-radius: 6px;
    padding: var(--spacers-dp12) var(--spacers-dp8) var(--spacers-dp12)
        var(--spacers-dp8);
}
.container:hover {
    background-color: var(--colors-grey050);
}
.container:focus {
    outline: 3px solid var(--theme-focus);
}
.container.selected {
    background-color: var(--colors-teal100);
    border-color: var(--colors-teal400);
}
.container.selected:hover {
    background-color: var(--colors-teal100);
}
.label {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp4);
}
.header {
    font-weight: medium;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: var(--colors-grey900);
    user-select: none;
    display: flex;
    align-items: center;
}
.description {
    font-size: 13px;
    line-height: 17px;
    color: var(--colors-grey700);
    user-select: none;
}
