.menuItem {
    display: flex;
    flex-direction: column;
    padding: var(--spacers-dp8) var(--spacers-dp12);
    cursor: pointer;
    background-color: var(--colors-white);
    border-bottom: 1px solid var(--colors-grey200);
}

.menuItem:hover {
    background-color: var(--colors-grey100);
}

.menuItem:focus {
    outline: 2px solid var(--theme-focus);
    outline-offset: -2px;
}

.menuItem:focus:not(:focus-visible) {
    outline: none;
}

.menuItem.active {
    background-color: var(--colors-teal050);
}

.menuItem.active:hover {
    background-color: var(--colors-teal100);
}

.name {
    font-size: 14px;
    font-weight: 500;
    color: var(--colors-grey900);
    line-height: 1.4;
}

.subtitle {
    font-size: 13px;
    font-weight: 400;
    color: var(--colors-grey700);
    line-height: 1.4;
    margin-top: 2px;
}

