.container {
    display: flex;
    z-index: 4;
}
.container.hidden {
    display: none;
}
.main {
    box-sizing: border-box;
    background-color: var(--colors-grey200);
    border-right: 1px solid var(--colors-grey400);
    box-shadow: 1px 0 2px 0 rgb(0 0 0 / 0.03);
    z-index: 5;
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headingContainer {
    width: 100%;
    padding: 6px 2px 4px 6px;
    background: var(--colors-grey200);
    border-bottom: 1px solid var(--colors-grey400);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--colors-grey700);
    line-height: 1.4;
}

.toggleButton {
    flex-shrink: 0;
    border-color: transparent !important;
}

.toggleButton:hover {
    background-color: var(--colors-grey200) !important;
}

.cardsContainer {
    padding: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.resizeHandle {
    width: 4px;
    background-color: transparent;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 6;
    transition: background-color 150ms ease;
}

.resizeHandle:hover {
    background-color: var(--colors-blue500);
}

.placeholderCard {
    border-radius: 5px;
    margin-bottom: 4px;
    min-height: 120px;
    position: relative;
    z-index: 0;
    padding: var(--spacers-dp16);
    text-align: center;
    color: var(--colors-grey600);
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacers-dp8);
}

.placeholderCard p {
    margin: var(--spacers-dp4);
}
