.container {
    padding: var(--spacers-dp8);
    background: var(--colors-white);
    border-bottom: 1px solid var(--colors-grey300);
}

.header {
    color: var(--colors-grey600);
    font-size: 11px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-bottom: var(--spacers-dp8);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 2px 0;
    user-select: none;
}
