.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp4);
}

.dimensionSection {
    padding: var(--spacers-dp8);
    background: var(--colors-white);
    border-bottom: 1px solid var(--colors-grey300);
}

.dimensionSectionHeader {
    color: var(--colors-grey700);
    font-size: 13px;
    margin-bottom: var(--spacers-dp8);
}
