.titleBar {
    display: flex;
    margin: 0 0 0 var(--spacers-dp4);
    padding: 0 var(--spacers-dp4);
    /* Same amount of whitespace as fullscreen button */
    /* border-bottom: 1px solid var(--colors-grey400);
     */
    border-left: 1px solid var(--colors-grey400);
    background: white;
}

.titleBar > .buttonContainer {
    display: flex;
    flex-grow: 0;
    padding: 0 4px;
}

.titleBar > .titleContainer {
    display: flex;
    flex-grow: 1;
}

.cell {
    display: flex;
    /* align-items: center; */
    background-color: var(--colors-white);
    padding: 4px 6px;
    border-radius: 5px;
    margin: 4px;
}

.title {
    font-size: 13px;
    color: var(--colors-grey800);
    font-weight: 500;
}

.suffix {
    margin-left: 4px;
}

.titleUnsaved {
    color: var(--colors-grey500);
    font-style: italic;
    font-weight: 400;
}

.titleDirty {
    color: var(--colors-grey800);
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--colors-grey200);
    margin-top: -1px;
    font-size: 11px;
    letter-spacing: -0.2px;
    font-family: monospace;
}
