.dimensionItem {
    background-color: var(--colors-white);
    color: var(--colors-grey900);
    fill: var(--colors-grey800);
    display: flex;
    padding: 2px var(--spacers-dp8);
    margin: 0;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    min-height: 24px;
}

.dimensionItem:not(.disabled):not(.dragging):hover {
    background-color: var(--colors-grey200);
}

.dimensionItem:not(.disabled):hover div {
    visibility: visible;
}

.dimensionItem:not(.disabled):active {
    background-color: #d8e1e9;
}

.dimensionItem.selected {
    background-color: var(--colors-teal100);
    fill: var(--colors-teal800);
    font-weight: 400;
}

.dimensionItem.selected:not(.disabled):hover {
    background-color: #cdeae8;
}

.dimensionItem.selected:not(.disabled):active {
    background-color: #bbe2e0;
}

.dimensionItem.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.icon {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.label {
    flex: 0 1 auto;
}

.label .primary {
    font-size: 14px;
    line-height: 17px;
    overflow-wrap: anywhere;
}

.iconAndLabelWrapper {
    display: flex;
    align-items: center;
}

.iconAndLabelWrapper:not(:only-child) {
    margin-right: var(--spacers-dp4);
}

.label .secondary {
    font-size: 13px;
    line-height: 15px;
    color: var(--colors-grey600);
    padding-left: var(--spacers-dp8);
    overflow-wrap: anywhere;
}
