.transferEmptyList {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin: var(--spacers-dp24) 0 0;
    color: var(--colors-grey700);
}

.transferRightHeader {
    font-size: 14px;
    font-weight: 400;
}

.transferLeftHeader {
    padding: var(--spacers-dp12) var(--spacers-dp4);
}

.transferLeftTitle {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 var(--spacers-dp8);
}

.paragraph {
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-grey900);
    margin: 0;
}

.mainSection {
    background: var(--colors-grey050);
    border: 1px solid var(--colors-grey200);
    margin: var(--spacers-dp12) 0 var(--spacers-dp8);
    padding: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp16);
    overflow: auto;
}

.verticalCheckbox {
    padding-top: var(--spacers-dp8);
}
