.paragraph {
    font-size: 14px;
    line-height: 19px;
    color: var(--colors-grey900);
    margin: 0;
}

.mainSection {
    background: var(--colors-grey050);
    border: 1px solid var(--colors-grey200);
    margin: var(--spacers-dp12) var(--spacers-dp8) var(--spacers-dp8)
        var(--spacers-dp8);
    padding: var(--spacers-dp8);
}

.addConditionButton {
    margin-top: var(--spacers-dp16);
}

.infoIcon svg {
    color: var(--colors-grey900);
    margin-right: 6px;
    vertical-align: text-bottom;
}

.separator {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--colors-grey700);
    padding: var(--spacers-dp4) 0;
}
