.infoIcon svg {
    color: var(--colors-grey900);
    margin-right: 6px;
    vertical-align: text-bottom;
}

.separator {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--colors-grey700);
    padding: var(--spacers-dp4) 0;
}

.tooltipReference {
    display: inline-flex;
    cursor: not-allowed;
    margin-top: var(--spacers-dp16);
}

.tooltipReference > .addConditionButton:disabled {
    pointer-events: none;
}
