.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 32px;
    border-radius: 5px;
}

.lastDropzone {
    height: 100%;
}

.axisContainer {
    display: flex;
    background-color: var(--colors-white);
    border-radius: 5px;
    padding: 4px 4px 4px 6px;
}

.axisContainerLeft {
    border-left-width: 0;
}

.label {
    min-width: 55px;
    max-width: 55px;
    padding: 2px 0 0 0;
    font-size: 11px;
    color: var(--colors-grey700);
    user-select: none;
    letter-spacing: 0.2px;
}
