.ct {
    display: flex;
    flex: 1;
    background-color: var(--colors-white);
    border-radius: 5px 5px 0 0;

}
.axisGroup {
    display: flex;
    flex-direction: column;
}
.axisGroupLeft {
    flex-basis: 50%;
}
.axisGroupRight {
    flex-basis: 50%;
    border-color: var(--colors-grey300);
    border-style: solid;
    border-width: 0 0 0 1px;
}
.columns {
    flex-basis: 50%;
}
.rows {
    flex-basis: 50%;
}
