/* .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
} */

.eventReportsApp {
    height: 100%;
    background-color: #f4f6f8;
    overflow: hidden;
}

.flexCt {
    display: flex;
}

.flexDirCol {
    flex-direction: column;
}

.flexGrow1 {
    flex-grow: 1;
}

.flexBasis0 {
    flex-basis: 0%;
}

/* Toolbar */

.sectionToolbar {
    height: 39px;
    border-bottom: 1px solid #e0e2e4;
}

/* Main */
.sectionMain {
    overflow: hidden;
}

.mainLeft {
    min-width: 260px;
    border-right: 1px solid #e0e2e4;
}

.mainRight {
    flex: 1 1 0%;
    max-width: 380px;
    background-color: #f0f2f4;
    overflow-y: auto;
    overflow-x: hidden;
    transform: scaleX(1);
    transition: max-width 200ms ease-out;
}
.mainRight.hidden {
    max-width: 0;
}
/* Main canvas */

.mainCenterCanvas {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.loadingCover {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: #ffffffab;
}
