.wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: flex-start;
}

.stickyFooter {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.fontSizeLarge {
    font-size: 13px !important;
}

.fontSizeNormal {
    font-size: 11px !important;
}

.fontSizeSmall {
    font-size: 10px !important;
}
