.container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.section {
    padding: var(--spacers-dp12) var(--spacers-dp8) var(--spacers-dp4);
}
.helptext {
    padding: var(--spacers-dp16) var(--spacers-dp24) 0;
    color: var(--colors-grey600);
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
