.dateSection {
    display: flex;
    gap: var(--spacers-dp8);
    align-items: center;
    margin-bottom: var(--spacers-dp8);
}

.dateHeader {
    font-size: 14px;
    font-weight: 500;
    line-height: var(--spacers-dp16);
    color: var(--colors-grey800);
}

.interpretationGroups {
    margin: 0;
    padding: 0;
    padding-top: var(--spacers-dp12);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp12);
}

.interpretationList {
    margin: 0;
    padding-left: var(--spacers-dp32);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp4);
}
