.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--colors-grey800);
    opacity: 0.8;
}

.avatar p {
    margin-left: 1px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: var(--colors-grey050);
}
