.chip {
    position: relative;
    display: flex;
    margin: 2px;
    background-color: var(--colors-teal100);
    border: 1px solid var(--colors-teal200);
    border-radius: 2px;
    width: fit-content;
    cursor: pointer;
}

.content {
    display: inline-flex;
    cursor: pointer;
    min-height: 20px;
    user-select: none;
    width: fit-content;
    align-items: center;
}

.chipBase {
    font-weight: 400;
    display: flex;
    max-width: 360px;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    color: var(--colors-teal900);
    margin-right: 2px;
    padding: 1px 2px 1px 4px;
}

.label {
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.primary {
    flex: 2 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.secondary {
    font-size: 13px;
    line-height: 15px;
    flex: 1 2.3 auto;
    color: var(--colors-teal600);
    padding-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.items {
    white-space: nowrap;
    flex-shrink: 0;
    font-family: monospace;
    font-size: 11px;
    background: #c5e4e3;
    border-radius: 2px;
    margin-left: 4px;
    min-width: 12px;
    text-align: center;
    padding: 2px 2px 1px 2px;
}

.chip:hover {
    background: #cdeae8;
    border: 1px solid #93c4bf;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.dragging {
    margin: 0;
    align-items: center;
    min-height: 20px;
}

.chip:not(.active).insertBefore .content::before,
.chip:not(.active).insertAfter .content::before,
.chip:not(.active).insertBefore .content::after,
.chip:not(.active).insertAfter .content::after {
    content: '';
    position: absolute;
    z-index: 100;
}

.showBlank .content {
    visibility: hidden;
    min-width: 100px;
}

/* the vertical line */
.content::before {
    top: 6px;
    bottom: 0;
    width: 4px;
    background-color: #4c9ffe;
}

/* the circle */
.content::after {
    top: -4px;
    width: 12px;
    height: 12px;
    border: 4px solid #4c9ffe;
    background: transparent;
    border-radius: 12px;
}

.isLast {
    flex: 1;
}

.insertBefore .content::before {
    left: -6px;
}
.insertBefore .content::after {
    left: -10px;
}

.insertAfter .content::before {
    right: -6px;
}
.insertAfter .content::after {
    right: -10px;
}

.chipEmpty {
    background-color: var(--colors-grey100);
    border-color: var(--colors-grey400);
    color: var(--colors-grey900);
}

.chipEmpty:hover {
    background-color: var(--colors-grey200);
    border-color: var(--colors-grey400);
}

.chipEmpty .chipBase {
    color: var(--colors-grey900);
}

.chipEmpty .secondary {
    color: var(--colors-grey600);
}

.chipEmpty .suffix {
    background: #eff1f3;
    color: var(--colors-grey900);
}

.leftIcon {
    margin-right: 4px;
    line-height: 0;
}

/* invalid state */

.invalid {
    opacity: 0.7;
    background-color: var(--colors-grey100);
    border-color: var(--colors-grey400);
    color: var(--colors-grey900);
}

.invalid:hover {
    background-color: var(--colors-grey200);
    border-color: var(--colors-grey400);
}

.invalid .chipBase {
    color: var(--colors-grey900);
}

.invalid .secondary {
    color: var(--colors-grey600);
}

.invalid .suffix {
    background: #eff1f3;
    color: var(--colors-grey900);
}

.invalid .items {
    background: #eff1f3;
    color: var(--colors-grey900);
}

/* dnd */

.active {
    opacity: 0.4;
}
