.chipWrapper {
    position: relative;
    display: flex;
    margin: var(--spacers-dp4);
    background-color: var(--colors-teal200);
    border-radius: 2px;
    align-items: center;
    max-width: 400px;
    width: fit-content;
}

.chipWrapperOverlay {
    margin: 0;
    padding-left: 6px;
    padding-right: 24px;
}

.chipWrapper:not(.active).insertBefore .content::before,
.chipWrapper:not(.active).insertAfter .content::before,
.chipWrapper:not(.active).insertBefore .content::after,
.chipWrapper:not(.active).insertAfter .content::after {
    content: '';
    position: absolute;
    z-index: 100;
}

.showBlank .content {
    visibility: hidden;
    min-width: 100px;
}

/* the vertical line */
.content::before {
    top: 6px;
    bottom: 0;
    width: 4px;
    background-color: #4c9ffe;
}

/* the circle */
.content::after {
    top: -4px;
    width: 12px;
    height: 12px;
    border: 4px solid #4c9ffe;
    background: transparent;
    border-radius: 12px;
}

.isLast {
    flex: 1;
}

.insertBefore .content::before {
    left: -6px;
}
.insertBefore .content::after {
    left: -10px;
}

.insertAfter .content::before {
    right: -6px;
}
.insertAfter .content::after {
    right: -10px;
}

.content {
    display: inline-flex;
}

.chip {
    padding: 1px 2px 1px 6px;
    font-size: 14px;
    font-weight: 400;
    color: var(--colors-grey900);
    cursor: pointer;
    min-height: 24px;
    user-select: none;
    width: fit-content;
}

.chipEmpty {
    background-color: var(--colors-grey300);
}

.fixedDimensionIcon {
    padding-right: 6px;
}

.leftIconWrapper {
    padding-right: 6px;
    display: flex;
    align-items: center;
}

.rightIconWrapper {
    padding-left: 6px;
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chipLeft {
    display: flex;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chipRight {
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* dnd */

.active {
    opacity: 0.4;
}
