.chipWrapper {
    display: flex;
    margin: var(--spacers-dp4);
    background-color: var(--colors-teal200);
    border-radius: 2px;
    align-items: center;
    max-width: 400px;
}

.chip {
    padding: 1px 6px;
    font-size: 14px;
    font-weight: 400;
    color: var(--colors-grey900);
    cursor: pointer;
    min-height: 24px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chipEmpty {
    background-color: var(--colors-grey300);
}

.fixedDimensionIcon {
    padding-right: 6px;
}

.leftIconWrapper {
    padding-right: 6px;
    display: flex;
    align-items: center;
}

.rightIconWrapper {
    padding-left: 6px;
}

.label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chipLeft {
    display: flex;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
}

.chipRight {
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
