.flexRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.visualisationWrap {
    flex-grow: 1;
}
.interpretationThreadWrap {
    flex-basis: 300px;
    flex-shrink: 0;
    overflow-y: auto;
}
