.scrollbox {
    overflow-y: auto;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    /* padding: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp4); */
}
.errorWrap {
    padding: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp4);
}
.noResults {
    padding: 0 var(--spacers-dp8) 0 var(--spacers-dp8);
    color: var(--colors-grey600);
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}
.loaderWrap {
    display: flex;
    justify-content: center;
    padding-top: var(--spacers-dp16);
}
.loadMoreWrap {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
