.scrollbox {
    height: calc(100% - 57px);
    overflow-y: auto;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp4);
}
.errorWrap {
    padding: var(--spacers-dp8) var(--spacers-dp8) var(--spacers-dp4);
}
.noResults {
    padding: var(--spacers-dp24) var(--spacers-dp32) 0;
    color: var(--colors-grey600);
    text-align: center;
    font-size: 14px;
    line-height: 19px;
}
.loaderWrap {
    display: flex;
    justify-content: center;
    padding-top: var(--spacers-dp16);
}
.loadMoreWrap {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
