.axisGroupLeft {
    width: 100%;
    height: 100%;
}
.axisGroupRight {
    width: 100%;
    height: 100%;
    border: none;
}
.outputAxis {
    border-top: 1px solid var(--colors-grey300);
}
.outputAxis > div[class*='content'] {
    width: 100%;
}
.outputAxis > div[class*='content'] > div {
    width: 100%;
}
